:root{
    --black: black;
    --blue: #2a318b;
    --dark-blue: #240c60;
    --red: 	#b6131b;
    --dark-red: #71192d;
    --yellow: #ecd300;
}

#titulo{   
    text-align: center;
    color: rgb(255, 255, 0);
    letter-spacing: 5px;
    font-size:60px;
    font-family: 'Bangers', cursive;
}
.colunas{
    flex-direction: column-reverse;
    width: 100%;
    height: 262px;
    background-color:rgb(42, 139, 230, .5)  ;
}

.caixas{
    height: 43px;
    width: 43px;
    background-color: rgb(255, 255, 255, .1);
    border-radius: 50%;
    border: 2px solid rgb(42, 139, 230, .5);
}

#tabela{
    display: flex;
    border: 4px solid rgb(0, 0, 0, .3);
    /* width: 350px; */
    width: 315px;
    height: 270px;
    position: relative;
}

.disco {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    border: 2px solid black;
    margin-left: -1px;
} 

#disco__p1 {
    background-color:rgb(255, 0, 0);
}

#disco__p2 {
    background-color:rgb(163, 215, 229);
}
.reset{
    margin-top: 30px;
    padding: 15px;
    border: 2px solid ;
    background-color: rgb(255, 255, 255, .5);
    font-size: 30px;
    font-family: 'Bangers', cursive;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#resultado{
    position: absolute;
    right: 50%;
    top: 60%;
    transform: translate(50%,50%);
    background-color: grey;
    font-size: 20px;
}

.contador-cronometro__caixa{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.contadorCaixa, .cronometro, .placar {
   
    border: 2px solid grey;
    height: 75px;
    padding: 8px 0 0 4px;
    background-color: rgb(255, 255, 255, .5);
}
.contadorCaixa{
    line-height: 1.75rem;
    width: 230px;
}
/* .contador__p1{}
.contador__p2{} */
.cronometro{
    align-items: center;
    display: inherit;
    width: 150px;
}
.contador-cronometro__caixa{
    width: 315px;
    height: 100px;
    display: flex;
}
.contadorCaixa{
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    width: 200px;
}
.cronometro{
    font-size: 13px;
    font-weight: 600;
    padding-left: 20px;
}
.placar{
    font-size: 13px;
    padding-top: 15px;
    width: 150px;
    font-weight: 600;
}
.placar p{
    text-align: center;
    align-items: center;
}
body{
    background-image: url("/src/assets/img/spacebackground.jpeg");
    background-size: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container { order: 3; }
@media (min-width:700px){
    #titulo{
        /* text-align: start; */
        font-size: 50px;
        margin: 0 0;
    }
    .colunas{
        height: 412px;
    }
    #tabela{
        width: 490px;
        height: 420px; ;
    }
    .caixas{
        height: 68px;
        width: 68px;
        border: 4px solid rgb(42, 139, 230);
    }
    .disco{
        width: 62px;
        height: 62px;
    }
    .reset{
        margin-top: 10px;
        font-size: 20px;
        padding:5px;

    }
    #resultado{
        top: 50%;
    }
    .contador-cronometro__caixa{
        width: 490px;
    }
    .placar div{
        text-align: center;
        margin-top: 5px;
    }
    .cronometro{
        text-align: center;
    }
    .contadorCaixa{
        text-align: center;
        padding-top: 20px;
    }
    .contadorCaixa div{
        line-height: 20px;
    }
}