:root{
    --blue: #2a318b;
    --dark-blue: #240c60;
    --dark-red: #71192d;
    --red: 	#b6131b;
    --yellow: #ecd300;
}

.paginaInicial {
    align-items: center;
    background: #4682b470;
    border: 3px solid var(--blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 290px;
    margin: 0 auto;
    margin-block: 175px;
    padding: 10px;
    width: 240px;
}

.paginaInicial p{
    height: 50px;
    line-height: 20px;
    text-align: center;
}

.pulsa{
    animation: pulsar 0.8s;
    transform: scale(1);
}

.logoInicial {
    left: -21px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -175px;
    width: 270px;
    z-index: 1;
}
.btnTroca{
    order: 2;
}
.caixa__discos{
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    height: 50%;
    justify-content: center;
    order: 1;
    width: 90%;
}

#discoInicial{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin: 3px;
    position: inherit;
}

body{
    background-color: #15262d;   
    background-image: url("../assets/img/spacebackground.jpeg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
}

main .container { 
    order: 3; 
}

#titulo {
    background-image: url('../assets/img/super1.png');
    background-size: cover;
    height: 110px;
    margin-left: -20px;
    width: 180px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#tabela{
    border: 4px solid rgb(0, 0, 0, .3);
    display: flex;
    height: 270px;
    position: relative;
    width: 315px;
}

.colunas{
    background-color:rgb(42, 139, 230, .5)  ;
    flex-direction: column-reverse;
    height: 262px;
    width: 100%;
}

.caixas{
    background-color: rgb(255, 255, 255, .1);
    border: 2px solid rgb(42, 139, 230, .5);
    border-radius: 50%;
    cursor: pointer;
    height: 43px;
    width: 43px;
}

.disco {
    align-items: center;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    height: 41px;
    justify-content: center;
    margin-left: -1px;
    position: absolute;
    width: 41px;
} 

#disco__p1 {
    animation: cairCima 0.5s;
    background-color: var(--yellow);
}

#disco__p2 {
    animation: cairLado 0.5s;
    background-color: var(--dark-blue);
}

.img {
    border-radius: 7px;
    height: 30px;
    width: 30px;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    order: 3;
    width: 310px;
}

button{
    background-color: rgb(255, 255, 255, .5);
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: -3px 3px 2px black;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 20px;
    padding: 10px;
	transition-duration: 0.35s;
}

#resultado div{
    background-color: var(--dark-red);
    border-radius: 45px;
    box-shadow: -4px 5px 4px 4px black;
    color: var(--yellow);
    font-family: 'Bangers';
    font-size: 30px;
    line-height: 2rem;
    margin-top: -135px;
    padding: 25px;
    position: absolute;
    text-align: center;
    text-shadow: 3px 3px black;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    width: 200px;
}

.contador-cronometro__caixa{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 90px;
    justify-content: center;
    width: 315px;
}

.contadorCaixa, .cronometro__caixa, .placar {
    background-color: rgb(255, 255, 255, .5);
    border: 3px solid var(--dark-blue);
    font-size: 10px;
    height: 75px;
    line-height: 14px;
    margin: 1px;
}

.contadorCaixa{
    align-items: center;
    display: inherit;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    width: 220px;
}

.contador__p1, .contador__p2, .placar1, .placar2, span{
    font-size: 12px;
}

.contador__p1, .contador__p2, .placar1, .placar2, p, span{
    font-family: 'Lato', sans-serif;
}

p{
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 3px;
    text-shadow: 0px 0px 1px var(--dark-blue);
    text-transform: uppercase;
}

.cronometro__caixa{
    align-items: center;
    display: inherit;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    width: 110px;
}

.cronometro__caixa p, span{
    margin-bottom: 7px;
}

span {
    margin-left: -11px;
    width: 40px;
}

.placar {
    align-items: center;
    display: inherit;
    flex-flow: column wrap;
    font-weight: 600;
    justify-content: center;
    width: 150px;
}

.placar p{
    align-items: center;
    text-align: center;
}

.escolherDnv {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.9px;
    padding: 10px;
    width: 110px;
}

.imagemVitoria, .imagemEmpate{
    background-size: cover;
    left: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    right: 0; 
    z-index: 1;
}

.imagemVitoria{
    background-image: url('../assets/img/jolly-chimp.gif');
    height: 60px;
    top: 222px;
    width: 90px;
}

.imagemEmpate{
    background-image: url('../assets/img/happy-chimp.gif');
    height: 68px;
    top: 236px;
    width: 57px;
}

button:hover{
    box-shadow: -2px 2px 2px black;
}

button:active{
    box-shadow: -1px 1px 1px black;
    transform: translateY(2px);
}

#discoInicial:hover{
    box-shadow: 0px 0px 2px 2px var(--blue); 
}

/* MEDIA QUERY */
@media screen and (min-width:700px){
    main{
        margin: 5px 30px 30px;
    }
    #titulo {
        background-image: url('../assets/img/super2.png');
        height: 110px;
        margin-left: 0px;
        width: 460px;
    }
    #tabela{
        height: 420px;
        width: 490px;
    }
    .colunas{
        height: 412px;
    }
    .caixas{
        border: 4px solid rgb(42, 139, 230);
        height: 68px;
        width: 68px;
    }
    .disco{
        border: 4px solid black;
        height: 62px;
        width: 62px;
    }
    .reset {
        font-size: 20px;
        margin-top: 30px;
        padding: 15px;
    }
    #resultado div {
        font-size: 40px;
        line-height: 3rem;
        margin-top: -215px;
        padding: 50px;
        width: 250px;
    }
    .contadorCaixa, .cronometro__caixa, .placar {   
        height: 80px;
        line-height: 19px;
        width: 490px;
    }
    .contador-cronometro__caixa {
        height: 90px;
        width: 490px;
    }
    .contador__p1, .contador__p2, .placar1, .placar2, span{
        font-size: 16px;
    }
    p{
        font-size: 18px;
        text-shadow: 1px 1px 1px var(--dark-blue);
    }
    .cronometro__caixa p, span {
        margin-bottom: 11px;
    }
    span {
        margin-left: -14px;
        width: 50px;
    }
    .imagemVitoria {
        height: 80px;
        top: 233px;
        width: 120px;
    }
    .imagemEmpate{
        height: 90px;
        top: 252px;
        width: 76px;
    }
    .img {
        height: 45px;
        width: 45px;
    }
    .botoes {
        width: 500px;
    }
    .escolherDnv {
        font-size: 14px;
        line-height: 16px;
        margin-top: 30px;
        width: 120px;
    }
    .paginaInicial {
        height: 450px;
        width: 340px;
        margin-block: 197px;
    }
    .img{
        border-radius: 12.2px;
    }
}

/* KEYFRAMES */
@keyframes cairCima {
    from { 
        transform: translate(-600px, -600px);
    }
    to{
        transform: translate(0px, 0px);
    }
}
@keyframes cairLado {
    from { 
        transform: translate(600px, -600px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes sairDaTela {
    from {
        transform: translate(0px);
    }

    to {
        transform:translateY(2000px)
    }
}
@keyframes pulsar {
    0%{
        transform: scale(0.90);
        text-shadow: 0px 0px 2px var(--blue);
    }
    50%{
        transform: scale(1);
        text-shadow: 0px 0px 2px var(--blue);
    }
    90%{
        transform: scale(0.90);
        text-shadow: 0px 0px 2px var(--blue);
    }
    100%{
        transform: scale(1);
        text-shadow: 0px 0px 2px var(--blue);
    }
}
